<div class="card card-layout">
    <div class="flex justify-content-between align-items-center mb-4">
        <h2>Danh sách nhân sự</h2>
        <button pButton label="+ Nhân sự" class="p-button-primary" (click)="isAddStaffVisible = true"></button>
    </div>
    <common-table [columns]="columns" [data]="staffList" [selectedRow]="selectedRow" [buttonTemplate]="buttonTemplate"
        (selectedRowChange)="onSelectedRowChange($event)">
        <ng-template #buttonTemplate let-item>
            <button (click)="onEdit(item)" pButton icon="pi pi-pencil"
                class="p-button-rounded p-button-text"></button>
            <button (click)="onDelete(item)" pButton icon="pi pi-trash"
                class="p-button-rounded p-button-text p-button-danger"></button>
        </ng-template>
    </common-table>
</div>
<app-edit-staff (reloadData)="onReloadData($event)" [id]="selectedRow?.id" [isVisible]="isEditStaffVisible" (isVisibleChange)="onEditStaffVisibleChange($event)"></app-edit-staff>

<app-add-staff (reloadData)="onReloadData($event)" [isVisible]="isAddStaffVisible" (isVisibleChange)="onAddStaffVisibleChange($event)"></app-add-staff>

<confirm-dialog [(visible)]="isShowComfirmDelete" [confirmText]="titleDelete" (onConfirm)="deleteStaff()"
  [styleClassCancel]="'p-button-outlined'" [styleClassConfirm]="''" [confirmLabel]="'Có'"
  [cancelLabel]="'Không'"></confirm-dialog>