$gutter: 1rem; //for primeflex grid system

/* Layout */
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Quill Text Editor for p-editor */
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

/* Demos */
// @import "assets/demo/styles/flags/flags.css";
// @import "assets/demo/styles/badges.scss";
// @import "assets/demo/styles/code.scss";

.layout-menu .layout-root-menuitem > .layout-menuitem-root-text{
    font-size: 1.2rem;
}
.layout-menu ul a{
    font-size: 1.1rem;
}
@media screen and (min-width: 1729px) {
    .landing-wrapper, .layout-content {
        width: 100%;
    }
}

.card-layout {
    height: calc(100vh - 12rem);
}
.table-container {
    border: 1px solid var(--surface-200);
    border-radius: 1rem;
    overflow: hidden;
}

.p-datatable {
    .p-datatable-thead > tr > th {
        background: var(--blue-200);
        border-bottom: 1px solid var(--surface-200);
        border-right: 1px solid var(--surface-200);

        &:last-child {
            border-right: none;
        }
    }

    .p-datatable-tbody > tr {
        border-bottom: 1px solid var(--surface-200);

        &:last-child {
            border-bottom: none;
        }

        td {
            border-right: 1px solid var(--surface-200);

            &:last-child {
                border-right: none;
            }
        }
    }
}
.bg-unset{
    background: unset !important;
}
.text-xanh-thuy{
    color: #08427B !important;
}
.p-component{
    font-size: 1.2rem !important;
}
